.picker {
  color: inherit;
  font: inherit;
  
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: none;
  border: none;
}

.active-lang {
  opacity: 1;
  height: 25px;
}

.inactive-lang {
  opacity: 0.4;
  height: 25px;
}
